@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
    @apply {
        .box {
            flex w-2/4  bg-neutral-800 justify-start p-2 rounded-xl m-2;
        }
    }
} */
/* .biggest{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    margin: auto;
} */

/* .firstBox{
    width: 50%;
    background-color: #222222;
    margin: 2rem;
} */

/* .twoBoxesWrapper{
    display: flex;
    justify-content: space-between;
} */

/* .singleBox{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    background-color:#111111b8;
    padding: .5rem;
    border-radius: .8rem;
    margin: .5rem;

}
.icon{
    width: 25px;
    height: 25px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
} */